{% extends "base.html" %}
{% block body %}
<h2>Flask Minesweeper New Game</h2>
    <h3>Board ID: {{ board.id }}</h3>
    <table>
    <tbody>
    {%  for row in board.tiles %}
        <tr style="height: 10px">
        {% for tile in row %}
            {% if tile.is_revealed %}
            <td style="background-color: bisque; width: 20px" id="{{ tile.x
                    }}_{{ tile.y }}">
            {% else %}
            <td style="background-color: aqua; width: 20px" id="{{ tile.x
                    }}_{{ tile.y }}">
            {% endif %}
            {% if tile.has_mine %}
                *
            {% else %}
                {% if tile.is_revealed and not tile.mines_around == 0 %}
                    {{ tile.mines_around }}
                {% else %}

                {% endif %}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}